#actions_container {
  padding: .2em;
  background-color: #999;
  display: flex;
  flex-wrap: wrap;
}
#actions_container button {
  border: none;
  padding: .5em 1em;
  margin-right: .1em;
  margin-bottom: .1em;
  background-color: #7a7a7a;
  color: #fff;
  transition: all .2s linear;
}
#actions_container button:hover {
  background-color: #222;
}
#actions_container.disabled button {
  pointer-events: none;
  color: #a3a3a3;
}
#removeItem {
  margin-left: auto;
}