* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
	width: 100vw; height: 100vh;
}

#cfb-moodboard { 
	margin: auto; 
	display: grid;
	grid-template-rows: 60px calc(100% - 120px - 2 * 5px) 60px;		
	min-height: 500px;
	min-width: 300px;
}

#cfb-moodboard > div {
	display: grid;
	grid-template-columns: 60px calc(100% - 120px - 2 * 5px) 60px;	
	grid-gap: 5px;
	background-color: whitesmoke;
	font-size: 10pt;
	text-align: center;	
}

#cfb-moodboard svg { 
	width: 24px; 
	height: 24px;
	cursor: pointer;
}

#cfb-moodboard [data-moodboard-group-column1='inactive'],
#cfb-moodboard [data-moodboard-group-column2='inactive'],
#cfb-moodboard [data-moodboard-group-column3='inactive'] { 
	pointer-events: none;
	color: lightgrey; 
}

#cfb-moodboard [data-moodboard-group-column1='inactive'] svg > path,
#cfb-moodboard [data-moodboard-group-column2='inactive'] svg > path,
#cfb-moodboard [data-moodboard-group-column3='inactive'] svg > path { 
	fill: lightgrey; 
}

/* Moodboard group: TOP */
#cfb-moodboard [data-moodboard-group-row1] > [data-moodboard-group-column2] {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#cfb-moodboard [data-moodboard-group-row1] > [data-moodboard-group-column2] svg {
	margin-right: 5px;
}
#cfb-moodboard [data-moodboard-group-row1] > [data-moodboard-group-column2] > div {
	display: flex;
	align-items: center;
}

/* Moodboard group: MIDDLE */
#cfb-moodboard [data-moodboard-group-row2] svg {	
	margin-top: 3px;
}
#cfb-moodboard [data-moodboard-group-row2] > [data-moodboard-group-column1] > div,
#cfb-moodboard [data-moodboard-group-row2] > [data-moodboard-group-column3] > div {	
	padding: 5px;	
}

/* VIEW */
#cfb-moodboard [data-moodboard-group-row2] > [data-moodboard-group-column2] {	
	width: inherit;
	height: inherit;
	border: 1px solid lightgrey;
	background-color: white;
}

/* Moodboard group: BOTTOM */
#cfb-moodboard [data-moodboard-group-row3] > [data-moodboard-group-column2] {	
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#cfb-moodboard [data-moodboard-group-row3] > [data-moodboard-group-column2] svg {
	margin-left: 3px;
}
#cfb-moodboard [data-moodboard-group-row3] > [data-moodboard-group-column2] > div {
	margin-left: 10px;
}
#cfb-moodboard [data-moodboard-group-row3] > [data-moodboard-group-column2] > div > :nth-child(2) {	
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Specific style for BTNS-CTRLS */

/* MIRRO-H */
#cfb-moodboard [data-moodboard-ctrl-mirror-h] {
	display: flex; 
	justify-content: center;
}
#cfb-moodboard [data-moodboard-ctrl-mirror-h] > :nth-child(1) {
	width: 14px; 
	border-right-width: 0.5px;
	border-right-style: dashed;
	border-right-color: black; 
	padding-right: 1px;
}
#cfb-moodboard [data-moodboard-ctrl-mirror-h] > :nth-child(2) {
	width: 14px; 
	padding-left: 1px;
}
#cfb-moodboard [data-moodboard-group-row2] [data-moodboard-group-column1='inactive'] [data-moodboard-ctrl-mirror-h] > :nth-child(1) {
	border-right-color: lightgrey;
}

/* MIRRO-V */
#cfb-moodboard [data-moodboard-ctrl-mirror-v] {
	display: flex; 
	align-items: center; 
	flex-direction: column; 
	margin-top: 5px;
}
#cfb-moodboard [data-moodboard-ctrl-mirror-v] > :nth-child(1) {
	height: 14px; 
	margin-bottom: -3px;
}
#cfb-moodboard [data-moodboard-ctrl-mirror-v] > :nth-child(2) {
	height: 14px; 
	border-top-width: 0.5px;
	border-top-style: dashed;
	border-top-color: black;
}
#cfb-moodboard [data-moodboard-group-row2] [data-moodboard-group-column1='inactive'] [data-moodboard-ctrl-mirror-v] > :nth-child(2) {
	border-top-color: lightgrey;
}

/* SCALE-X-P */
#cfb-moodboard [data-moodboard-ctrl-scalex-plus] > *,
#cfb-moodboard [data-moodboard-ctrl-scalex-minus] > * {
	border-width: 3.4px;
	border-style: solid;
	border-color: black; 
	border-right: none; 
	border-radius: 4px;
}
#cfb-moodboard [data-moodboard-group-row2] [data-moodboard-group-column3='inactive'] [data-moodboard-ctrl-scalex-plus] > *,
#cfb-moodboard [data-moodboard-group-row2] [data-moodboard-group-column3='inactive'] [data-moodboard-ctrl-scalex-minus] > * {
	border-color: lightgrey;
}

/* SCALE-Y */
#cfb-moodboard [data-moodboard-ctrl-scaley-plus] > *,
#cfb-moodboard [data-moodboard-ctrl-scaley-minus] > * {
	border-width: 3.4px;
	border-style: solid;
	border-color: black;
	border-bottom: none; 
	border-radius: 4px;
}
#cfb-moodboard [data-moodboard-group-row2] [data-moodboard-group-column3='inactive'] [data-moodboard-ctrl-scaley-plus] > *,
#cfb-moodboard [data-moodboard-group-row2] [data-moodboard-group-column3='inactive'] [data-moodboard-ctrl-scaley-minus] > * {
	border-color: lightgrey;
}

/* REMOVE */
#cfb-moodboard [data-moodboard-ctrl-remove] {
	margin-top: 20px;
}

/* AUXILIAR styles */
#cfb-moodboard[data-moodboard-hide] {
	opacity: 0;
}