* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	overflow: hidden;
}

h4 {
	padding: 20px 10px;
	text-align: center;
	text-transform: uppercase;
}

.mb {
	position: relative;
	margin: 60px auto;
	width: fit-content;
	max-width: 1000px;
	min-height: 430px;
	padding: 10px;
}
.mb .view {
	background: linear-gradient(to right, whitesmoke, white, whitesmoke);
	cursor: move;
	overflow: hidden;
	position: relative;
}
.mb .view .item {
	cursor: grab;
	height: fit-content;
	width: fit-content;
	position: absolute;
	left: 0;
	top: 0;
}
.mb .view .item.selected .mask {
	outline: 2px dashed black;
	outline-offset: 5px;
}
.mb .view .item .mask {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;	
}
.mb .view .item > img {	
	width: 100%;
	z-index: 1;
}
.mb .opt {
	background-color: grey;
}
.mb .opt .list {}
.mb .opt .list .item { cursor: pointer; }

.control { position: absolute; background-color: rgba(255, 255, 255, 0.8); }
.control div[data-mask] { 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.9);
}
.control div[data-mask=true] { display: block; }
.control div[data-mask=false] { display: none; }
.control .item { cursor: pointer;	padding: 10px; transition: all 0.5s ease-out; }
.control .item:hover { background-color: grey; }
.control .item[data-status=true] { color: blue;	font-weight: bold; }

.control .group { 
	display: flex; 
	flex-direction: column;
	justify-content: center; 
	align-items: center;
	border-width: 0;
	border-style: inset;
	border-color: grey;
	padding: 2px;
}
.control .group.horizontal { border-right-width: 2px; }
.control .group.vertical { border-bottom-width: 2px; }
.control .group .label { font-size: 12.5px; }
.control .group.horizontal .btn-group div { display: inline-block; }

.control-all {
	display: flex;
	bottom: 0;
	left: 0;
	margin-bottom: -66px;
}

.control-material-right {
	top: 15px;
	right: 0;
	margin-right: -44px;
}

.control-material-left {
	top: 15px;
	left: 0;
	margin-left: -44px;
}

.control-remove {
	bottom: 0px;
	right: 10px;
	margin-bottom: -66px;
}
.control-remove .item {
	transition: all 0.5s ease-out;
}
.control-remove:hover .item {
	background-color: red;
}

.add-materials, .background {
	display: flex;
	align-items: center;
	cursor: pointer; 
	position: absolute;
	top: 0;
	padding: 10px;
	margin-top: -36px;
	transition: all 0.5s ease-out;
}
.add-materials { left: 0; }
.background { right: 0 ; }
.add-materials:hover, .background:hover { font-size: 18px; }

.alert {
	display: none;
	opacity: 0;
	background: rgba(255, 255, 255, 0.9);
	position: fixed;
	top: 5vh;
	right: 0;
	width: fit-content;
	text-align: right;
	text-transform: uppercase;
	padding: 20px;
	font-size: 14px;
}

.modal {
	display: none;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
}
.modal .content {
	position: relative;
	opacity: 0;
	width: 80vw;
	height: 80vh;
	margin: 10vh auto;
	background-color: white;
	box-shadow: 2px 2px 10px black;
	overflow-y: auto;
}
.modal .content .close {
	position: absolute;
	top: 20px;
	right: 20px;
	font-weight: bolder;
	cursor: pointer;	
	text-transform: uppercase;	
}
.modal .content .close p {
	font-size: 14px;
	opacity: 0;
	transition: all 0.3s;
	transition-timing-function: ease-in;
}
.modal .content .close:hover p {
	font-size: 20px;
	opacity: 1;
}
.modal .content .close span {
	position: absolute;
	right: 0;
	font-size: 20px;
	transition: all 0.3s;
	transition-timing-function: ease-in;
}
.modal .content .close:hover span {	
	right: 105%;
}
.modal .section { margin-top: 50px; }
